#streamconfirm {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    z-index:3000;
}
#streamconfirmover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
}
#streamconfirmmain {
    top: 50%;
    background: #FFF;
    max-width: 500px;
    width: 80%;
    z-index: 1001;
    padding: 20px 20px 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #000;
    position: relative;
    margin: -60px auto;
}
#streamconfirmmore {
    font-size: 12px;
    padding: 10px 0;
}
#streamconfirmquest {
    font-weight: bold;
    font-size: 20px;
}
#streamconfirmbtns {
    border-top: solid thin #DFDFDF;
    padding: 10px 0 0;
    text-align: right;
}
.streamconfirmactionbtn {
    display: inline-block;
    padding: 7px 10px;
    color: #FFF;
    background: #414141;
    cursor: pointer;
    font-size: 13px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.streamconfirmactionbtn:hover {
    background: #000;
}